charset-normalizer==3.4.7
dotenv==0.9.9
idna==3.18
networkx==3.6.1
numpy==2.4.6
pillow==12.2.0
python-dotenv==1.2.2
python-vlc==3.0.21203
requests==2.34.2
urllib3==2.7.0
yt-dlp==2026.6.9
ytmusicapi==1.12.1
